    <nav>
        <a href="./share/static/html/home.html">Home -</a>
        <a href="./share/static/html/generateid.html">Generate ID -</a>
        <a href="./share/static/html/generateid.html">Generate ID -</a>
        <a href="./share/static/html/generateid.html">Generate ID -</a>
        <a href="./share/static/html/generateid.html">Neofetch Card<F6><F6><F6><F6><F6><F6><F6><F6><F6><F6>:" -</a>
        <a href="./share/static/html/manifestos.html">Manifestos -</a>
        <a href="./share/static/html/chat.html">chat -</a>
        <a href="./share/static/html/LICENSE.html">Licenses -</a>
        <a href="./share/static/html/about.html">About</a>
    </nav>










